body {
  background-color: #2b669a;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  &:hover {
    color: #5cb85c;
    text-decoration: none;
  }
}

p{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
//  background: #f2f2f2;
}

span.line {
  height: 1px;
  width: 400px;
  background-color: #938F93;
  display: block;
  margin: 0 auto 15px;
}

.grid {

  > div {
//    background: #fff;
//    border: 1px solid #ddd;
    line-height: 29px;
    opacity: 0.8;
    text-align: center;
  }
}

header {
  .logo {
    text-align: left;
  }
}

.container {
  .login {
    margin-top: 100px;
    h3 {
      margin-bottom: 50px;
    }
    .login-form {
      div {
        margin-bottom: 15px;
      }
    }
  }

  .intro {
    margin: 30px 0 15px 0;
  }
  .register-form {
    div {
      margin-bottom: 10px;
    }
    input[type=text] {
      width: 20%;
    }
    input[type=file] {
      margin: 0 auto;
    }
    .dropdown {
      width: 25%;
      border: 1px #ffffff solid;
      padding: 0 1%;
      min-width: 135px;
    }
    .right {
      text-align: right;
    }
    .left {
      text-align: left;
    }
  }
}
.search-page {
  h3 {
    margin-bottom: 30px;
  }
  .menu {
    ul {
      text-align: left;
      li {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }
  .subject, .personality {
    text-align: left;
  }
  .item {
    margin-bottom: 20px;
    .description {
      text-align: left;
    }
  }
}


@media only screen and (max-width : 990px) {
  .login-page {
    .right-banner {
      display: none;
    }
  }
  .container {
    .register-form {
      input {
        margin: 0 auto;
      }
      input[type=text] {
        width: 50%;
      }
      textarea {
        width: 80%;
      }
      .right, .left{
        text-align: center;
      }
      .dropdown {
        margin: 0 auto;
      }
      .dropdown-menu {
        left: 42%;
      }
    }
  }
}